﻿<!DOCTYPE>
<html>

<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tour-De-Creston</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/tour-de-creston-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="Resources/css/tour-de-creston.css">
        <!--<![endif]-->
        <script src="Resources/js/libs/modernizr.min.js"></script>
    </head>

    <body>
        <div class="skipToContent">
            <a href="#mainContent" class="btn btn--primary">Skip to main content</a>
        </div>

        <header class="masthead clearfix" role="banner">
            <div class="masthead-container">
                <a href="index.html" class="title masthead-title colour-stripes"><h1>Tour de Creston</h1>
                </a>
                <p class="masthead-dates">3 - 5 July 2015</p>
                    <nav class="nav-collapse">
                        <ul>
                            <li class="menu-item @(ViewBag.Title == "Home" ? "active" : "" )">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="menu-item @(ViewBag.Title == "Routes" ? "active" : "" )">@Html.ActionLink("Routes", "Index", "Routes")</li>
                            <li class="menu-item @(ViewBag.Title == "Register" ? "active" : "" )">@Html.ActionLink("Register", "Index", "Register")</li>
                            <li class="menu-item @(ViewBag.Title == "Kit" ? "active" : "" )">@Html.ActionLink("Kit", "Index", "Kit")</li>

                        </ul>
                    </nav>
                </div>
        </header>

        <div class="fabzSlider first-container">
            <ul>
                <li>
                    <picture class="slide">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="Resources/img/homeSlides/TDC_slide04.jpg" media="(min-width: 321px)">
                        <source srcset="Resources/img/homeSlides/TDC_slide04_small.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                        <img class="slideImage" srcset="Resources/img/homeSlides/TDC_slide04.jpg" alt="Fleet to London">
                    </picture>
                </li>
                <li>
                    <picture class="slide">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="Resources/img/homeSlides/TDC_slide03.jpg" media="(min-width: 321px)">
                        <source srcset="Resources/img/homeSlides/TDC_slide03_small.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                        <img class="slideImage" srcset="Resources/img/homeSlides/TDC_slide03.jpg" alt="TDC Amesbury to Fleet">
                    </picture>
                </li>
                <li>
                    <picture class="slide">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="Resources/img/homeslides/TDC_slide02.jpg" media="(min-width: 321px)">
                        <source srcset="Resources/img/homeslides/TDC_slide02_small.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                        <img class="slideImage" srcset="Resources/img/homeslides/TDC_slide02.jpg" alt="TDC Bristol to Amesbury">
                    </picture>
                </li>
                <li>
                    <picture class="slide">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="Resources/img/homeslides/TDC_slide01.jpg" media="(min-width: 321px)">
                        <source srcset="Resources/img/homeslides/TDC_slide01_small.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                        <img class="slideImage" srcset="Resources/img/homeslides/TDC_slide01.jpg" alt="TDC all the guys">
                    </picture>
                </li>
            </ul>
            <div class="circular-button-container"></div>
            <div class="circular-button-play-container"></div>
        </div>

        @RenderBody()

        <footer role="contentinfo">
            <div class="footer clearfix">
                <img class="creston" src="Resources/img/crestonunlimited.png" />
                <ul class="">
                    <li class="logo"><span class="tmw">TMW</span>Unlimited</li>
                    <li class="logo"><span class="fever">Fever</span>Unlimited</li>
                    <li class="logo"><span class="icm">ICM</span>Unlimited</li>
                    <li class="logo"><span class="alembic">Alembic</span>Unlimited</li>
                    <li class="logo"><span class="health">Health</span>Unlimited</li>
                    <li class="logo"><span class="red">RedDoor</span>Unlimited</li>
                    <li class="logo"><span class="real">TheRealAdventure</span>Unlimited</li>
                    <li class="logo"><span class="pan">PAN</span>Unlimited</li>
                    <li class="logo"><span class="things">Things</span>Unlimited</li>
                    <li class="logo"><span class="walnut">Walnut</span>Unlimited</li>
                    <li class="logo"><span class="liberation">Liberation</span>Unlimited</li>
                    <li class="logo"><span class="nb">NelsonBostock</span>Unlimited</li>
                    <li class="logo"><span class="marketing">MarketingSciences</span>Unlimited</li>
                    <li class="logo"><span class="plastic">Plastic</span>Unlimited</li>
                    <li class="logo"><span class="corkery">CorkeryGroup</span>Unlimited</li>
                    <li class="logo"><span class="cooney">CooneyWaters</span>Unlimited</li>
                    <li class="logo"><span class="emo">EMO</span>Unlimited</li>
                    <li class="logo"><span class="djm">DJM</span>Unlimited</li>
                    <li class="logo"><span class="rock">Rock</span>Unlimited</li>
                    <li class="logo"><img src="Resources/img/loop.png" alt="looped" class="loop">Unlimited</li>

                </ul>

                <ul class="footer-links l-list--floated unstyled">
                    <li><a href="http://creston.com/" target="_blank">Creston Unlimited&copy; 2015</a></li>
                    <li><a href="mailto:JMoody@creston.com?Subject=Contact%20from%tour%de%Creston">Contact</a></li>
                    <li><a href="/terms.html" target="_blank">Terms and Conditions</a></li>
                </ul>
            </div>
        </footer>


        <!-- JavaScript at the bottom for fast page loading -->

        <script src="Resources/js/dist/app.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-XX', 'domain', {
                //'cookieDomain': 'none' // Use if debugging on localhost
            });
            ga('send', 'pageview');
        </script>

    </body>
</html>
