/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}

header { 
	background-color:$black;
}
/**
 * Default layout container
 */
.l-container,
.footer {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;
	width: 100%;

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
	@include respond-min($bp-mid){
		position: relative;
		width: 95%;
	}
}

.l-container {
	@include respond-min($bp-mid){
		padding: 0 5%;
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

@include respond-min($bp-mid){
	.hide {
		display: none;
	}
}

.first-container {
	margin-top: 70px;
}

.information {
	@include respond-min($bp-mid){
		margin-top: 20px;
		margin-bottom: 60px;
		text-align: center;
	}

	.index-cta li, {
		color: #b2b2b2;
		font-family: 'Raleway', sans-serif;
		font-size: 0.85rem;
		margin: 15px 0;
		position: relative;
		width: 100%;

		@include respond-min($bp-mid){
			margin: 0;
			width: 33%;
		}
		
		img {
			display: block;
			margin: 0 auto;

			@include respond-min($bp-mid){
				display: inline-block;
			}
		}

		.caption {
			margin: 0 auto;
			text-align: center;
			width: 70%;
		}
	}
}

.terms {
	padding: 0 20px 28px;
}

/* carousel style ------------------------------------------------------------------ */


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.kit {
	.credit {
		color: $gray;
		font-size: 0.85rem;
		position: relative;
		text-align: center;

		@include respond-min($bp-mid){
			bottom: 30px;
			left: 0;
			padding-top: 20px;
			right: 0
		}
		
		@include respond-min($bp-wide){
			padding: 0;
			position: absolute;
		}
	}

	.kit-container {
		width: 100%;

		@include respond-min($bp-mid){
			margin: 0 auto 20px;
		}
	}

	.kit-container img {
		display: block;
		height: auto;
		width: 95%;
		margin: 10px auto;

		@include respond-min($bp-mid){
			display: inline-block;
			width: 40%;
			margin: 10px 30px;
		}
		
		@include respond-min($bp-wide){
			margin: 10px 45px;
		}
	}
}

/* Routes page style ------------------------------------------------------------------ */

.routes {
	// margin-top: 100px;
}

/* Day information style ------------------------------------------------------------------ */

.day-info {
	display: block;
	// font-family: 'Raleway', sans-serif;
	margin: 7% auto;

    h3 {
        color: #666666;

        span {
            color: $gray;
            display: block;
            font-size: 0.85rem;
            font-weight: normal;
            padding: 5px;
        }
    }
    text-align: center;
}

.day-list {
	li {
        text-align: center;
        padding: 2%;
        width: 100%;

        @include respond-min($bp-mid){
        	width: 33%;	
        }

        // span {
        //     color: #ef7521;
        //     display: block;
        //     position: relative;

        //     &:after {
        //         border-left: 7px solid transparent;
        //         border-right: 7px solid transparent;
        //         border-top: 7px solid #ef7521;
        //         top: 120%;
        //         content: '';
        //         height: 0;
        //         left: 0;
        //         margin: 0 auto;
        //         position: absolute;
        //         right: 0;
        //         width: 0;
        //     }
        // }
    }

    .map-header {
    	color: $gray;
    	font-weight: normal;
    	padding-bottom: 7px;
    }

    figcaption {
    	text-align: left;
    }
}

.map-stats {
	display: inline-block;

	span {
		color: $gray;
		display: block;
		font-size: 0.7rem;
	}

	&:nth-child(2) {
		padding-left: 3px;
	}
}

.map-cta {
	color: #ef7521;
	display: inline-block;
	font-size: 0.7rem;
	padding-left: 5px;
	padding-top: 12px;
	vertical-align: top;

	@include respond-min($bp-mid){
		padding-left: 0;
	}
}

.map-info {
	color: $gray;
	display: block;
	font-size: 0.7rem;
	padding-top: 5px;
}

.getting-map {
	margin: 0 auto;
	@include respond-min($bp-mid){
		
		width: 55%;
	}
}

.download-instructions {
	li {
		color: #666666;
		display: block;
		font-size: 2rem;
		padding: 2%;
		width: 100%;
		vertical-align: top;

		@include respond-min($bp-mid){
			display: inline-block;
			margin: 20px 0;
			width: 30%;
		}

		span {
			color: $gray;
			display: block;
			font-size: 0.7rem;

			@include respond-min($bp-mid){
				text-align: left;
			}
		}
	}

	.download-instructions-icon {
		display: block;
		margin: 5px auto;
	}
}

.highlight {
	color: #ef7828 !important;
	display: inline-block !important;
}