footer {
	background: #000;
	color: #fff;
}

.footer {
    padding: 20px 10px;

    .creston {
    	height: auto;
    	margin-bottom: 20px;
    	width: 320px;
    }

    @include respond-min($bp-wide){	
		-webkit-columns: 33% 3; /* Chrome, Safari, Opera */
	    -moz-columns: 33% 3; /* Firefox */
	    columns: 33% 3;
	    padding: 20px 0;
    }

    ul {
    	// float: left;
    	margin: 0;
    	// max-width: 300px;
    }

	.logo {

		@include respond-min($bp-mid){
			display: inline-block;
			font-size: 0.9rem;
			height: auto;
			width: 40%;
			color: #8a8b8c;

			text-align: justify;
		}

		@include respond-min($bp-wide){
			width: 30%;
		}

		&:after {
			content: '...';
			font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
			font-size: 0.9rem;
			// letter-spacing: -5px;
		}
	}

	li {
		padding: 5px 40px 5px 0;
	}
}

/* company logo colours style ------------------------------------------------------------------ */


.footer-links {
	margin-top: 40px;

	a {
		font-size: 0.7rem;
	}
}

.tmw {
	color: #ef7629;
}

.fever {
	color: #ffc048;
}

.icm {
	color: #0073c6;
}

.alembic {
	color: #0099a8;
}

.health {
	color: #ec0026;
}

.red {
	color: #ac152b;
}

.real {
	color: #d70034;
}

.pan {
	color: #007a39;
}

.things {
	color: #9876cf;
}

.walnut {
	color: #ed9543;
}

.liberation {
	color: #d8006a;
}

.nb {
	color: #ec0026;
}

.marketing {
	color: #008ebc;
}

.plastic {
	color: #ee2142;
}

.corkery {
	color: #0073c6;
}

.cooney {
	color: #196abc;
}

.emo {
	color: #76be35;
}

.djm {
	color: #ef7629;
}

.rock {
	color: #6b4a8c;
}

.loop {
	height: 17px;
	top: 3px;
	position: relative;
	width: auto;
}