.masthead {

		width:100%;
		background-color:$black;
		text-align: center;
		padding-left: #{$layout-margin}px;
		padding-right: #{$layout-margin}px;
}


.masthead-container {
	margin: 0 auto;
	height: 70px;
	display :inline-block;
	width:100%;
	max-width: #{$layout-max-width}px;
	vertical-align:middle;

}

.masthead-title {

		text-align: center;
		height:70px;
		background-image: url("../img/masthead-colour.gif");
		background-repeat:no-repeat;
		background-size: 100% 5%;
		background-position: bottom;
		padding: 0	10px	0 auto!important;
		color:$white!important;
}

.masthead-dates { 

		color:$gray;
		height:100%;
		padding: 2.1em .5em;
		font-size:.6em;
		position: relative;
    float:left;
    margin-bottom:auto!important;
  //  top: 50%;
  //  transform: translateY(-50%);
    display: none;
    @include respond-min($bp-mid){
  		display:inline;
    }

	@include respond-min($bp-mid){
		font-size: 1em;
		padding: 1.0em .5em;
	}


}

// creston colours

.creston-green {

	background-color:$crestonGreen;
}
.creston-red {

	background-color:$crestonRed;

}
.creston-Blue {

	background-color:$crestonBlue;
}

.creston-Orange {

	background-color:$crestonOrange;

}
.creston-grey {

	background-color:$crestonGrey;

}







.dates {
	margin: 0;

	@include respond-min($bp-mid){	
		position: absolute;
		right: 0;
		top: 0;
	}
}

.ultd {
	color: $color-secondary;
}

.active a {
	border-bottom: 2px $color-link-active solid;
	color: $color-link-active !important;
	padding-bottom: 4px;
}

/* Navigation style ------------------------------------------------------------------ */

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  // background: #f4421a;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.title {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-decoration: none;
	font-weight: bold;
	line-height: 55px;
	color: #000;
	float: left;
	font-size: .7em;

	@media screen and (min-width: 40em) {
		font-size: 1em;
	}

}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .9);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: right;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  // background: #f4421a;
  padding: 0.7em 1.2em;
  color: $gray;
  width: 100%;
  float: right;
  font-size: .8rem;
}

.nav-collapse a:active,
.nav-collapse .active a {
  // background: #b73214;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    // border-left: 1px solid white;
		padding: 1.42em .7em;
		text-align: center;
		border-top: 0;
		float: right;
		margin: 0;
	}
}

.nav-collapse ul ul a {
  // background: #ca3716;
	padding-left: 2em;
	float: right;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../assets/icons/responsivenav.eot");
  src:url("../assets/icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../assets/icons/responsivenav.ttf") format("truetype"),
    url("../assets/icons/responsivenav.woff") format("woff"),
    url("../assets/icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: $gray; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}





