
/* carousel end style ------------------------------------------------------------------ */


.rider-info {
	position: relative;
	display: table;
	margin-bottom:20px;
}

.rider-info--image {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	max-height: 50%;
	max-width:50%;
	float: none;
	text-align:center;

	@include respond-min($bp-wide){
		display: inline-block;
		float: left;
		max-height: 30%;
		max-width:30%;

	}
}


.rider-info--caption {
		display:block;
		width:100%;
		text-align: left;
		//border: 1px red solid;
		float: left;


	@include respond-min($bp-wide){
		//display: table-cell;
		max-width:50%;
		display:inline-block;
		float: none;
	}
}

.rider-info--caption li {
	font-weight: bold;
	list-style-type: none;
	
	span {
		font-weight: normal;
	}
}
