$transitionTime : 1s;
$circleSize : 12px;


.fabzSlider { 

	width:100%;
	height:inherit;
	position:relative;
	//overflow:hidden;
	text-align:center;
	ul {
	}
	li {
		list-style-type:none;
		display: inline-block;
	}
}

.slide {
	top:0;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	width:100%;
	//min-width:100%;
	transition : opacity $transitionTime ease-out;

}


// button circular btn 

.circular-button-container {
	position:absolute;
	bottom:20%;
	left:50%;
	transform:translateX(-50%);
	max-height: $circleSize*2;

	@include respond-min($bp-mid){
		bottom:20%;
	}

}

.circular-button {

	margin:$circleSize;
	display:inline-block;
	width: $circleSize;
	height: $circleSize;
	border: white solid thin;
	border-radius:($circleSize*3)*.5;
	cursor: pointer;

	&.active { 

		background: white;
	}
}

//// play sign 

.circular-button-play-container {
	position:absolute;
	bottom:29%;
	left:50%;
	transform:translateX(-50%);
	height: $circleSize*3;
	width: $circleSize*3;
	cursor: pointer;


	@include respond-min($bp-mid){
		bottom:29%;
	}

}


.circular-play {


	left:20px;
	max-height: $circleSize*3;
	height: $circleSize*3;
	width: $circleSize*3;
	border: white solid thin;
	border-radius:($circleSize*3)*.5;
	text-align:center;
	color: #FFF;
	padding-top:$circleSize*.3;
	padding-left:$circleSize*.2;
	font-size:$circleSize*1.5;
	user-select: none;

}







