﻿@{
    ViewBag.Title = "Home";
}
<div role="main" class="l-container information first-container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <ul class="index-cta l-list--floated unstyled">
        <li>
          @Html.ActionLink("Home", "Index", "Home")<a href="/routes.html"><img src="Resources/img/route.png" alt="Route Maps" /></a>
            <div class="caption">Route, elevation and how to get maps on your phone</div>
            <!---->
                <a href='@Url.Action("Routes", "Index", "Routes")'>
                <img src='@Url.Content("Resources/img/route.png")' />
            </a>
        </li>
        <li>
            <a href="/kit.html"><img src="Resources/img/kit.png" alt="Kit Design" /></a>
            <div class="caption">Everyone loves lycra</div>
        </li>
        <li>
            <a href="/register.html"><img src="Resources/img/register.png" alt="Register" /></a>
            <div class="caption">Register to take part</div>
        </li>
    </ul>
</div>