﻿
@{
    ViewBag.Title = "Kit";
}
<div role="main" class="l-container kit first-container">
    <div class="kit-container">
        <img src="img/front.png" alt="TDC Kit - Front"> 
        <img src="img/back.png" alt="TDC Kit - Back">
    </div>

    <p class="credit">Tour de Creston kit <br>
    kindly designed by <br>
    Steve Donahue</p>       
</div>