﻿@{
    ViewBag.Title = "Register";
}

<div role="main" class="l-container first-container">
    <form action="#" class="form">
        <h2>Signup Form</h2>
        <fieldset class="form-fieldset">
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="name">Name</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="text" id="name" placeholder="Some text" required/>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="surname">Surname</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="text" id="surname" placeholder="Some text" required/>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label for="email" class="form-label">Email</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="email" id="email" placeholder="tech@tmw.co.uk" required/>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label for="mobile" class="form-label">Mobile</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="tel" id="mobile" placeholder="07658394756" required/>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="profile-image">Profile Image</label>
                <div class="form-controlGroup-inputWrapper">
                    <label class="form-input form-input--fileWrapper--styled">
                        <input class="form-input-file" type="profile-image" id="file" accept="image/*" size="14" required />
                    </label>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="bike">Your ride</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="text" id="bike" placeholder="BMX 2000 Custom Edition +fire" />
                </div>
            </div>
            <div class="g-row">
                <div class="form-controlGroup g-span6">
                    <label for="company" class="form-label">Your Company</label>
                    <div class="form-controlGroup-inputWrapper">
                        <select id="company" class="form-input form-input--select">
                            <option>TMW</option>
                            <option>Creston</option>
                            <option>Things</option>
                            <option>Nelson Bostock</option>
                            <option>ICM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="g-row">
                <div class="form-controlGroup g-span6">
                    <label for="route" class="form-label">Preferred Route</label>
                    <div class="form-controlGroup-inputWrapper">
                        <select id="route" class="form-input form-input--select">
                            <option>Social</option>
                            <option>Intermediate</option>
                            <option>Fast</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="g-row">
                <!-- Custom checkboxes -->
                <div class="form-controlGroup g-span6">
                    <label class="form-label">Which days do you want to take part?</label>
                    <div class="form-controlGroup-inputWrapper">
                        <!-- Wrap checkbox elements with .control.control--custom.control--checkbox <label> -->
                        <label class="control control--custom control--checkbox">
                            <input type="checkbox" value="check4">
                            <span class="control-indicator"></span> Fri 3<sup>rd</sup> July
                        </label>
                        <label class="control control--custom control--checkbox">
                            <input type="checkbox" value="check4">
                            <span class="control-indicator"></span> Sat 4<sup>th</sup> July
                        </label>
                        <label class="control control--custom control--checkbox">
                            <input type="checkbox" value="check4">
                            <span class="control-indicator"></span> Sun 5<sup>th</sup> July
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="charity">Do you have a JustGiving site? (Type the link below)</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="text" id="charity" value="http://" />
                </div>
            </div>

            <div class="form-controlGroup g-span6">
                <label class="form-label" for="description">Tell us a bit about yourself</label>
                <div class="form-controlGroup-inputWrapper">
                    <textarea class="form-input form-input--textarea" id="description" placeholder="I like cheese and rainbows and dolphins..." rows="3" cols="50" maxlength="200"></textarea>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="nok-name">Next of kin name</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="text" id="nok-name" placeholder="Name" required/>
                </div>
            </div>
            <div class="form-controlGroup g-span6">
                <label class="form-label" for="nok-number">Next of kin contact number</label>
                <div class="form-controlGroup-inputWrapper">
                    <input class="form-input" type="tel" id="nok-number" placeholder="07947392718" required/>
                </div>
            </div>
        </fieldset>


        <div class="form-actions text_centre g-span6">
            <div class="terms">
                <!-- Wrap checkbox elements with .control.control--custom.control--checkbox <label> -->
                <label class="control control--custom control--checkbox">
                    <input type="checkbox" value="check4" required>
                    <span class="control-indicator"></span> Terms and Conditions
                </label>
            </div>
            <input type="submit" value="Register" class="btn btn--block" />
        </div>

    </form>
</div>