﻿@{
    ViewBag.Title = "Home";
}
<div role="main" class="l-container routes first-container">
    <div class="scroll-on-page">

    <ul id="scroll-on-page-top" class="unstyled l-list--floated tabbed-list">
        <li><a class="scroll-on-page-link" href="#scroll-link-1">
                Stage 1
                <span>Bristol to Amesbury</span>
            </a>
        </li>
        <li><a class="scroll-on-page-link" href="#scroll-link-2">
                Stage 2
                <span>Amesbury to Fleet</span>
            </a>
        </li>
        <li><a class="scroll-on-page-link" href="#scroll-link-3">
                Stage 3
                <span>Fleet to London</span>
            </a>
        </li>
    </ul>
    <ul class="unstyled l-list--floated map-tab">
        <li><a class="scroll-on-page-link" href="#scroll-link-4">
                <span>Getting the maps on your phone</span>
            </a>
        </li>
    </ul>

        <article>
            <section class="day-info">
                <h3 id="scroll-link-1">
                    <span>Stage 1, Fri 3 July</span>
                    Bristol to Amesbury
                </h3>
                <ul class="unstyled l-list--floated day-list">
                    <li>
                        <h4 class="map-header">Social</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Intermediate</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Long </h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                </ul>
                <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
            <section class="day-info">
                <h3 id="scroll-link-2">
                    <span>Stage 2, Fri 4 July</span>
                    Amesbury to Fleet
                </h3>
                <ul class="unstyled l-list--floated day-list">
                    <li>
                        <h4 class="map-header">Social</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Intermediate</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Long </h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                </ul>
                <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
            <section class="day-info">
                <h3 id="scroll-link-3">
                    <span>Stage 3, Fri 5 July</span>
                    Fleet to London
                </h3>
                <ul class="unstyled l-list--floated day-list">
                    <li>
                        <h4 class="map-header">Social</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                1500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Intermediate</h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                2500ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                    <li>
                        <h4 class="map-header">Long </h4>
                        <figure>
                            <img src="img/profile.jpg" alt="Day map">
                        </figure>
                        <figcaption>
                            <div class="map-stats">
                                25mi
                                <span>Distance</span>
                            </div>
                            <div class="map-stats">
                                4000ft
                                <span>Elevation Gain</span>
                            </div>
                                <a href="" class="map-cta" target="_blank">View on Strava »</a>
                            <div class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odit placeat blanditiis quam earum esse aut ad.</div>
                        </figcaption>
                    </li>
                </ul>
                <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
            <section class="day-info">
                <h3 id="scroll-link-4">
                    Getting the maps on your phone
                    <span class="getting-map">
                        Paper maps will be given out at the beginning of each day but they will only give a basic overview of the route. For more detail (and to help the inevitable lost sheep) we recommend using Strava to save the maps to your phone.
                    </span>
                </h3>
                <ul class="unstyled download-instructions">
                    <li>
                        1.
                        <span>
                            Download the <span class="highlight">Strava</span> to your phone and sign up
                        </span>
                            <img src="img/group1.png" alt="" class="download-instructions-icon">
                    </li>
                    <li>
                        2.
                        <span>
                            Open the maps above you need on the Strava website
                            <br><br>
                        </span>
                            <img src="img/group2.png" alt="" class="download-instructions-icon">
                    </li>
                    <li>
                        3.
                        <span>
                            Hit the ‘Duplicate’ button, then ‘Save’
                            <br><br><br>
                        </span>
                            <img src="img/group3.png" alt="" class="download-instructions-icon">
                    </li>
                    <li>
                        4.
                        <span>
                            Routes can now be accesed through the Strava app on your phone. Profile » Routes
                            <br><br>
                        </span>
                            <img src="img/group4.png" alt="" class="download-instructions-icon">
                    </li>
                    <li>
                        5.
                        <span>
                            Tapping ‘Use Route’ will show your location and the Route - helping you get back on course.
                        </span>
                            <img src="img/group5.png" alt="" class="download-instructions-icon">
                    </li>
                    <li>
                        NB.
                        <span>
                            Strava is great but it can sap your battery quickly, so we recommend only using it when you’re lost. 
                            <br><br>
                            If you’re planning to use Strava to track your whole ride, you may want to consider an <span class="highlight">extra battery pack</span>.
                        </span>
                    </li>
                </ul>
                <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section> 
        </article>
    </div>
</div>