.scroll-on-page {
    a {
        text-decoration: none;
    }

    .scroll-on-page-link {
        color: #b2b2b2;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 0.85rem;
        margin-top: 10px;
        outline: none;
    }
}

.tabbed-list {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 30px;

    li {
        text-align: center;
        width: 33%;

        span {
            color: #ef7521;
            display: block;
            position: relative;

            &:after {
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #ef7521;
                top: 120%;
                content: '';
                height: 0;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 0;
            }
        }
    }
}

.map-tab {
    padding-bottom: 30px;

    li {
        text-align: center;
        width: 100%;

        span {
            color: #ef7521;
            display: block;
            position: relative;

            &:after {
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #ef7521;
                top: 120%;
                content: '';
                height: 0;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 0;
            }
        }
    }
}