/**
 * Tables
 */

// Baseline styles
.table { 
	border-collapse: collapse;
	max-width: 100%;
	border-spacing: 0;
	background-color: $table-bg;
	width: 100%;
	
	@include respond-min($bp-mid){
		margin: 5%;
		width: auto;
	}

	// Cells
	> thead,
	> tbody,
	> tfoot {
		th,
		td {
			padding: $table-cell-padding;
			line-height: $baseline;
			vertical-align: top;
			border-top: 1px solid $table-border-color;
		}
	}

	// Bottom align for column headings
	> thead th,
	> thead td {
		vertical-align: bottom;
		border-bottom: 2px solid $table-border-color;
		text-align: center;
	}

	> tfoot td {
		border-top: 3px solid $table-border-color;
	}

	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}

	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	// Nesting
	.table {
		background-color: $color-bg;
	}
}

th {
	text-align: left;
}


// Condensed table w/ half padding
.table--condensed {
	> thead,
	> tbody,
	> tfoot {
		th,
		td {
			padding: $table-condensed-cell-padding;
		}
	}
}

/**
 * Bordered version
 * Add borders all around the table and between all the columns.
 */
.table--bordered {
	border: 2px solid $table-border-color;

	> thead,
	> tbody,
	> tfoot {
		th,
		td {
			border: 1px solid $table-border-color;
		}

		th:first-child,
		td:first-child {
			border-left: 0;
		}

		th:last-child,
		td:last-child {
			border-right: 0;
		}

	}

	> thead {
		th,
		td {
			border-bottom-width: 2px;
		}
	}

	> tfoot {
		th,
		td {
			border-top-width: 2px;
			border-bottom: 0;
		}
	}
}

/**
 * Rounded version
 */
.table--rounded {
	border-radius: 10px;

	&.table--bordered {
			th:first-child,
			td:first-child {
				border-left: 0;
			}

			th:last-child,
			td:last-child {
				border-right: 0;
			}

		> tfoot th,
		> tfoot td {
			border-bottom: 0;
		}
	}
}

/**
 * Zebra-striping
 * Default zebra-stripe styles (alternating gray and transparent backgrounds)
 */
.table--striped {
	tbody :nth-child(odd) th,
	tbody :nth-child(odd) td {
		background-color: $table-bg-accent !important;
	}
}


/**
 * Hover effect
 */
.table--hover {
	tr:hover {
		td, th {
			background-color: $table-bg-hover;
		}
	}
}


/**
 * Responsive tables
 * Wrap your tables in `.tableResponsive` and we'll make them mobile friendly by enabling horizontal scrolling. Only applies <768px. Everything above that will display normally.
 *
 * If you need more responsive tables, consider Tablesaw by the Filament Group:
 * https://github.com/filamentgroup/tablesaw
 */
.tableResponsive {
	@include respond-max($bp-single-col) {
		width: 100%;
		margin-bottom: ($line-height-base * .75) + px;
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $table-border-color;
		-webkit-overflow-scrolling: touch;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			> thead,
			> tbody,
			> tfoot {
				th,
				td {
					white-space: nowrap;
				}
			}
		}

		// Special overrides for the bordered tables
		> .table-bordered {
			border: 0;

			// Nuke the appropriate borders so that the parent can handle them
			> thead,
			> tbody,
			> tfoot {
				th:first-child,
				td:first-child {
					border-left: 0;
				}

				th:last-child,
				td:last-child {
					border-right: 0;
				}
			}

			// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			// chances are there will be only one `tr` in a `thead` and that would
			// remove the border altogether.
			> tbody,
			> tfoot tr:last-child {
				> th,
				> td {
					border-bottom: 0;
				}
			}
		}
	}
}

.leaderboard {

	@include respond-min($bp-mid){
		display: inline-block;
		vertical-align: top;

		td {
			padding: 5%;
		}
	}
}

.kos{
	position: relative;

	&:before {

		@include respond-min($bp-mid){
			content:url('../img/kos.png');
			left: -5px;
		  	position:relative;
		}
	}
	
	&:hover:after {
		@include respond-min($bp-mid){	
			background: #fff;
			border-radius: 5px;
			content: "King of the segment";
			font-size: 0.8rem;
			left: -101px;
			padding: 5px;
			position: absolute;
			top: -24px;
		}
	}
}


tbody td:first-child,
tfoot td:first-child {
	text-align: right;

	@include respond-min($bp-mid){
		width: 200px;
	}	
}

tbody td:nth-child(2),
tfoot td:nth-child(2) {
	text-align: center;
	width: 160px;
	
	@include respond-min($bp-mid){
		
	}
}